{% extends 'base.html' %}
{% block content %}
<body>
<div class="shadow card">
                <div class="card-body">
                    <h4 class="card-title">{{task.name}}</h4>
                    <h5>{{task.priority}}</h5>
                    <h6>{{task.date}}</h6>
                    <a class="btn btn-danger" href="{% url 'delete' task.id %}">Delete</a>
                    <a class="btn btn-success" href="{% url 'update' task.id %}">Edit</a>
                </div>
            </div>
</body>
{% endblock %}
