{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4">
<h2>APPLY NOW</h2>

<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Enter your name">  <br> <br>
    <input type="text" name="dob" placeholder="Enter date of birth">  <br> <br>
    <input type="text" name="age" placeholder="Enter your age">  <br> <br>
    <input type="radio" name="gender" value="male"> Male
    <input type="radio" name="gender" value="Female"> Female
    <input type="radio" name="gender" value="Others"> Others
    <br> <br>
    <input type="text" name="phone" placeholder="Enter your phoneno">  <br> <br>
    <input type="email" name="email" placeholder="Enter your email">  <br> <br>
    <input type="text" name="address" placeholder="Enter your address"><br> <br>

    <select id="s1" required>
    <option value="">Please select</option>
    <option value="CS">CS</option>
    <option value="IT">IT</option>
    <option value="EC">EC</option>
    <option value="EE">EE</option>
    <option value="MB">MB</option>
</select><br><br>
<select id="s2" required >
   <option value="">Please select</option>
  <option value="CS1" data-parent="CS">CS - 1</option>
  <option value="CS2" data-parent="CS">CS - 2</option>
  <option value="IT1" data-parent="IT">IT - 1</option>
  <option value="IT2" data-parent="IT">IT- 2</option>
  <option value="EC1" data-parent="EC">EC - 1</option>
  <option value="EC2" data-parent="EC">EC - 2</option>
    <option value="EE1" data-parent="EE">EE - 1</option>
    <option value="EE2" data-parent="EE">EE - 2</option>
    <option value="MB1" data-parent="MB">MB - 1</option>
    <option value="MB2" data-parent="MB">MB - 2</option>
</select><br><br>

    <select name="purpose">
        <option value="" selected="selected">Select Purpose</option>
        <option value="inquiry" >For Inquiry</option>
        <option value="order" >Place Order</option>
        <option value="return" >Return</option>
    </select><br> <br>
    <input type="checkbox" name="name1" value="pen">Pen
    <input type="checkbox" name="name1" value="notebook">Notebook
    <input type="checkbox" name="name1" value="papers">Papers
    <br> <br>
    <button onclick="myalert()" class="btn btn-warning">
    submit
</button>

<script>
    function myalert() {
        alert("Order is confirmed");
    }
</script>
    <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>

    <a href="{% url 'demo' %}" class="btn btn-primary theme-button mr-3">BACK HOME</a><br>
</form>

            </div>
        </div>
    </div>
<script src="{% static 'js/main.js' %}"></script>
<!---->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->

<!--</head>-->
<!--<body>-->

</body>
</html>