{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
 We have variety of products!!!!
{% endblock %}
{% block title %}
    Search
{% endblock %}
{% block content %}
<div>
    <p class="text-center my_search_text">You have searched for:<b>"{{query}}"</b></p>
</div>
<div class="container">
         <div class="row mx_auto">
             {% for prod in products %}
              <div class="my_bottom_margin c0l-9 col-sm-12 col-md-4 col-lg-4">
                  <div class="card text-center" style="min-width:18rem;">
                     <a href="{{prod.get_url}}"><img class="card-img-top my_image" src="{{prod.image.url}}" alt="{{prod.name}}" height="348" width="261"></a>

                  <div class="card-body">
                      <h4>{{prod.name}}</h4>
                      <p>{{prod.price}}</p>
                  </div>
              </div>
         </div>
             {% empty %}
             <div class="row mx-auto">
                 <p class="text-center my_search_text">0 results found</p>
             </div>
             {% endfor %}
         </div>
</div>
{% endblock %}