<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body style="background-color:tomato">
<h1 style="background-color:red;text-align:center;color:white">HOME</h1>
<form action="add/" method="get">
    <input type="text" name="num1" placeholder="Enter 1st number">
    <input type="text" name="num2" placeholder="Enter 2nd number">
    <input type="submit">
</form>
<!--<pre style="background-color:plum;text-align:center;font-size:200%;font-family:times new roman;">-->
<!--    {{dis}} or Alleppey is the administrative headquarters of Alappuzha district in state of {{sta}}, India.-->
<!--    The Backwaters of Alappuzha are one of the most popular tourist attractions in India which attracts-->
<!--    millions of domestic and international tourists.</pre>-->


</html>
